@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --foreground-color: rgb(255, 255, 255);
  --foreground-2-color: rgb(110, 110, 110);
  --background-color: black;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --text-color: black;
  --text-button-color: black;
  --text-active-color: rgb(59, 121, 255);
  --text-button-inactive-color: rgb(189, 185, 185);
  --button-primar-color: rgb(59, 121, 255);
  --button-inactive-color: rgb(66, 66, 66);
  --text-danger-color: red;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --text-color: white;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* MUI */
.MuiTab-textColorPrimary {
  color: var(--text-color) !important;
}
.Mui-selected {
  color: var(--text-active-color) !important;
}
.MuiTabs-indicator {
  background-color: var(--text-active-color) !important;
}
/* .MuiButton-root {
  color: var(--text-color) !important;
  background-color: var(--button-primar-color) !important;
} */

.Mui-focused {
  border-color: red !important;
}
